<themelia.web>
  <webDomains>
    <add defaultPage="/Page_/Home/Root.aspx" catchAllMode="Blocked" catchAllInitParameter="This page is not publicly accessible">
      <endpoints>
        <add selector="Contains" text="problem" type="Page" parameter="/Page_/Quality/Problem.aspx" />
      </endpoints>
      <factories>
        <add type="Sample.Web.Processing.ProcessorFactory, Sample.Web" />
      </factories>
      <processors>
        <!--This error processor simulates catching of an error, saving it to a database, and then going to a page to obtain more information from the user.-->
        <add type="SaveError">
          <parameters>
            <add value="ArgumentOutOfRangeException" />
          </parameters>
        </add>
      </processors>
    </add>
  </webDomains>
</themelia.web>
