<themelia.web>
  <webDomains>
    <add defaultPage="/Page_/Home/Root.aspx">
      <endpoints>
        <add selector="WebDomainPathStartsWith" text="authenticate" type="Authentication" />
        <add selector="WebDomainPathStartsWith" text="member" type="Page" parameter="/Page_/Security/Member.aspx" />
      </endpoints>
      <!--The security functionality allows you to declaratively lock down your entire web site or selection portions.-->
      <security defaultAccessMode="Allow"
                loginPage="/Page_/Security/Login.aspx"
                validatorType="Sample.Web.Processing.Security.SecurityValidator, Sample.Web">
        <exceptions>
          <!--In this example, everything is allowed by default.  The following exceptions are "blocks".-->
          <add key="member" />
          <!--uncomment this to secure the home page-->
          <!--<add key="/" />-->
        </exceptions>
      </security>
      <factories>
        <add type="Sample.Web.Processing.HandlerFactory, Sample.Web" />
      </factories>
    </add>
  </webDomains>
</themelia.web>
