<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<section name="themelia.system" type="Themelia.Configuration.SystemSection, Themelia" />
		<section name="themelia.web" type="Themelia.Web.Configuration.WebSection, Themelia.Web" />
	</configSections>
  <appSettings configSource="Config_\AppSettings.config"></appSettings>
  <themelia.system configSource="Config_\Themelia.System.config"></themelia.system>
  <themelia.web configSource="Config_\Themelia.Web.config"></themelia.web>
  <system.codedom configSource="Config_\CodeDom.config"></system.codedom>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="*" />
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<httpModules>
			<add name="Themelia" type="Themelia.Web.CoreModule, Themelia.Web" />
		</httpModules>
	</system.web>
	<system.webServer>
		<modules>
			<add name="Themelia" preCondition="" type="Themelia.Web.CoreModule" />
		</modules>
	</system.webServer>
</configuration>