<themelia.web>
  <webDomains>
    <add defaultPage="/Page_/Home/Root.aspx" catchAllMode="Blocked" catchAllInitParameter="This page is not publicly accessible">
      <!-- Components allow you to package endpoints, factories and processors into redistributable and easily installable packages.
           The use of components can dramatically reduce the time is takes to setup functionality.  In this extremely modest sample,
           a component installs an endpoint and a handler factory.
           
           More complex real world examples may register multiple processors, endpoints, 
           and handlers to make setup as simple as installing a single component.
           
           For a much more complete example, see the Simple Content Viewer example available on the Themelia Pro
           web site (http://www.themeliapro.com/).
           -->
      <components>
        <add key="Sample" type="Sample.Web.Processing.Sample.SampleComponent, Sample.Web" />
      </components>
      <endpoints>
        <add selector="Contains" text="help" type="Page" parameter="/Page_/Info/Help.aspx" />
      </endpoints>
    </add>
  </webDomains>
</themelia.web>
