<themelia.web>
  <webDomains>
    <add>
      <endpoints>
        <!-- Services endpoints are very simple to setup.  Remember, though, these require the IIS7 integrated pipeline.-->
        <add selector="Contains" text="contact" type="Service" parameter="/Contact.svc" />
      </endpoints>
    </add>
  </webDomains>
</themelia.web>