<themelia.web>
  <webDomains requireSlash="false">
    <!-- This web domain uses "Blocked" as it's catch all mode.  This means that when any one accesses a non-registered URL, he or she is shown the text in catchAllInitParameter.-->
    <!-- Per the documentation, there are various different catch all modes.-->
    <add defaultPage="/Page_/Home/Root.aspx" catchAllMode="Blocked" catchAllInitParameter="This page is not publicly accessible">
      <!-- Endpoints are how you allow access into your web site.  In this example, there is an HTTP handler endpoint and a page endpoint.-->
      <endpoints>
        <!--this endpoint requires the ending slash-->
        <add selector="Contains" text="xml" requireSlash="true" type="Sample" />
        <add selector="Contains" text="help" type="Page" parameter="/Page_/Info/Help.aspx" />
      </endpoints>
      <!--In real-world scenarios, your handler factory would provide aliasing for many HTTP handlers.-->
      <factories>
        <add type="Sample.Web.Processing.HandlerFactory, Sample.Web" />
      </factories>
    </add>
  </webDomains>
</themelia.web>
