<themelia.system>
	<appInfo name="Object Creation Sample" />
  <reporting>
    <reporters>
      <add name="InjectionDebug" creator="Map" sender="Debug" formatter="Wiki" enable="true" />
    </reporters>
  </reporting>
  <objects>
    <add name="Process" type="Sample.Logic.MyCustomProcess, Sample.Logic" />
  </objects>
</themelia.system>