<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="themelia.system" type="Themelia.Configuration.SystemSection, Themelia"/>
		<section name="themelia.web" type="Themelia.Web.Configuration.WebSection, Themelia.Web"/>
	</configSections>
	<appSettings configSource="Config_\AppSettings.config"></appSettings>
	<themelia.system configSource="Config_\Themelia.System.config"></themelia.system>
	<themelia.web configSource="Config_\Themelia.Web.config"></themelia.web>
	<system.web>
		<customErrors mode="Off"/>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<pages>
			<controls>
        <add tagPrefix="t" assembly="Themelia.Web" namespace="Themelia.Web.Controls"/>
        <add tagPrefix="t" assembly="Themelia.Web" namespace="Themelia.Web.Sequence"/>
      </controls>
		</pages>
		<httpModules>
			<add name="Themelia" type="Themelia.Web.CoreModule, Themelia.Web"/>
		</httpModules>
	</system.web>
	<system.webServer>
		<modules>
			<remove name="Session"/>
			<add name="Session" type="System.Web.SessionState.SessionStateModule" preCondition=""/>
			<add name="Themelia" type="Themelia.Web.CoreModule, Themelia.Web"/>
		</modules>
	</system.webServer>
	<system.codedom configSource="Config_\CodeDom.config"></system.codedom>
</configuration>
