<themelia.web>
  <webDomains>
    <add defaultPage="/Page_/Home/Root.aspx">
      <endpoints>
        <!-- SAMPLE NOTE: Sequences are located in the /Sequence_/ folder.  Therefore, you never need
             to specify the whole path.  To use a sequence, just set the type to Sequence and put the
             name of the sequence in braces.-->
        <add selector="Contains" text="/contact/" type="Sequence" parameter="{Contact}" />
        <add selector="Contains" text="/problem/" type="Sequence" parameter="{Contact}" />
      </endpoints>
    </add>
  </webDomains>
</themelia.web>