<system.diagnostics>
  <switches>
    <!--
      By changing the 'value' attribute of the 'TracingSwitch' element, you can set what
      elements are logged.
      0 - no messages
      1 - error messages
      2 - error and warning messages
      3 - error, warning, and information messages
      4 - all messages
      -->
    <add name="TracingSwitch" value="1"/>
  </switches>
  <trace autoflush="true" indentsize="0">
    <listeners>
      <add name="WebPageTraceListener" type="System.Web.WebPageTraceListener, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add name="EventLogTraceListener" type="System.Diagnostics.EventLogTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <add name="EmailTraceListener" type="General.Tracing.EmailTraceListener, General"/>
    </listeners>
  </trace>
</system.diagnostics>