<themelia.web>
  <webDomains>
    <add defaultPage="/Page_/Information/Person.aspx">
      <endpoints>
        <!-- With service aliases, you can do a direct mapping between the physical and logical world using regex.
            
             This isn't allowed for any other type because the entire point of endpoints is to disconnect the physical
             and logical world.  Using a patterned mapping betweent the two, does exactly the opposite, thus defeating
             the entire purpose.
        -->
        <add selector="Contains" text="/service/([a-z]+)/([a-z]+)" type="ServiceAlias" parameter="/Service_/$1.svc/json/$2" />
      </endpoints>
    </add>
  </webDomains>
</themelia.web>
