<themelia.web>
  <webDomains>
    <add defaultPage="/Page_/Home/Root.aspx" catchAllMode="Blocked" catchAllInitParameter="This page is not publicly accessible">
      <endpoints>
        <add selector="Contains" text="xml" type="Sample" />
        <add selector="Contains" text="help" type="Page" parameter="/Page_/Info/Help.aspx" />
      </endpoints>
      <factories>
        <add type="Sample.Web.Processing.ProcessorFactory, Sample.Web" />
      </factories>
      <processors>
        <add type="VerbalInit" />
      </processors>
    </add>
    <add name="nothing" path="nothing" />
  </webDomains>
</themelia.web>
