<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<section name="themelia.system" type="Themelia.Configuration.SystemSection, Themelia" />
	</configSections>
  <appSettings configSource="Config_\AppSettings.config"></appSettings>
  <themelia.system configSource="Config_\Themelia.System.config"></themelia.system>
  <system.codedom configSource="Config_\CodeDom.config"></system.codedom>
</configuration>